<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	 
	<!-- <bean id="tv" class="polymorphism.SamsungTV" /> -->
	<!-- <bean id="tv" class="polymorphism.SamsungTV" p:speaker-ref="apple" p:price="28000"/> -->
	<!-- <bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod" /> -->
	<!-- <bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod" destroy-method="destoryMethod" /> -->
	<!-- <bean id="tv" class="polymorphism.SamsungTV" lazy-init="true" /> -->
	
	<bean id="apple" class="polymorphism.AppleSpeaker"></bean>

	<bean id="tv" class="polymorphism.SamsungTV" scope="singleton" />
<!-- 	<bean id="tv" class="polymorphism.SamsungTV" scope="prototype" /> -->

</beans>